# bundler
.bundle/
vendor/bundle

# log
logs/*
!logs/empty

# temporary
tmp/*
!tmp/empty

# bower
bower_components/

# library
assets/lib/

# rspec
spec/examples.txt

# database
db/*.sqlite3

# sass
.sass-cache/

# other
.env
